<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="com.globaltec"/>

    <!-- Add new DAOs here -->
	
	<bean id="recordDao" class="com.globaltec.dao.hibernate.RecordDaoHibernate">
    </bean> 
    
    <bean id="recordCameraDao" class="com.globaltec.dao.hibernate.GenericDaoHibernate">
        <constructor-arg value="com.globaltec.model.RecordCamera"/>
    </bean>

    <!-- Add new Managers here -->
	
	<bean id="videoRecordingManager" class="com.globaltec.service.impl.XugglerVideoRecordingManagerImpl" autowire="byType">    
	</bean>
	
	<bean id="xugglerWriter" class="com.globaltec.xuggler.XugglerWriter" autowire="byType">    
	</bean>
    
    <!-- Configure and Alternative PasswordTokenManager -->
	<!-- <bean id="passwordTokenManager" class="com.globaltec.service.impl.PersistentPasswordTokenManagerImpl" autowire="default" /> -->
</beans>